html,
body,
#fcl {
  height: 100%;
  margin: 0;
  color: var(--sapContent_LabelColor);
  font-family: "72override", var(--sapFontFamily);
}

#app,
#app ui5-flexible-column-layout {
  height: 100vh;
}

ui5-li-groupheader {
  height: 1.6rem;
  color: var(--sapContent_LabelColor);
}

ui5-li-groupheader::part(native-li) {
  padding-top: 0;
}

ui5-li::part(native-li) {
  padding-left: 2rem;
}

p {
  padding: 1rem;
  font-size: 0.9rem;
}

ui5-page::part(content) {
  padding: 0px;
}

.headerContent {
  display: flex;
  align-items: center;
}

.headerContent img {
  width: 2rem;
  padding-right: 0.5rem;
}